/*   #2b2b2b
#969696 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  position: relative;
}

.container {
  background-color: #2b2b2b;
  height: 62rem;
  max-height: 100vh;
}
.header {
  background-image: url(../images/pattern-bg-desktop.png);
  background-size: cover;
  height: 20rem;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.primary__heading {
  font-size: 3rem;
  color: #fff;
  font-weight: 500;
}
.input__box {
  /* background-color: #fff; */
  display: flex;
  width: 25%;
  border-radius: 0.8rem;
  width: 50rem;
  overflow: hidden;
  /* align-items: center; */
}
.search__input {
  padding: 0.9rem 1.7rem;
  width: 100%;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.search__input::placeholder {
  color: #969696;
}
.icon__box {
  padding: 0.9rem 1.7rem;
  cursor: pointer;

  /* padding: 2rem; */
  align-self: center;
  background-color: #2b2b2b;
  transition: all 0.4s;
}

.icon__box:hover {
  background-color: #969696;
}
.search__icon {
  /* padding: 0.1rem; */
  /* padding: 0.7rem 1.7rem; */
}

.info__section {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 500;
  /* display: flex;
  justify-content: center;
  margin-top: -4rem; */
}
.info__container {
  display: flex;
  background-color: #fff;
  padding: 1.5rem 0;
  width: 90rem;
  border-radius: 1.4rem;

  /* max-width: 160rem; */
}
.info__box {
  padding: 1.3rem 2rem 1.3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.info__box:not(:last-child) {
  border-right: 1px solid #969696;
}
.secondary__heading {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #969696;
}

.info__text {
  font-weight: 700;
  color: #2b2b2b;
  font-size: 1.7rem;
}
.address {
}
.location {
}
.timezone {
}
.time {
}

.isp {
}

#map {
  height: 100%;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1rem;
  /* font-weight: 500; */
}

/* **************
 MEDIA QUERIES
****************/

@media only screen and (max-width: 60em) {
  .input__box {
    width: auto;
  }

  /* .info__section {
    top: 18%;
  } */

  .info__container {
    width: 30rem;
    flex-direction: column;
    text-align: center;
  }

  .info__text {
    font-size: 1.4rem;
  }
  .info__box {
    gap: 0.5rem;
  }
  .info__box:not(:last-child) {
    padding: 0 0 2rem 0;
  }
  .info__box:last-child {
    padding: 0;
  }

  .info__inside {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
